html
{
	width:220px;
	max-height: 300px;
}

body
{
	padding: 0px;
	margin:0px;
}

.div_marker
{
	background-color: none;
	
	width: 200px;
}

.div_thumb
{
	background-color: black;

	width: 200px;
	height: 200px;

	border-radius: 110px;
	border-width: 10px;
	border-color: red;
	border-style: solid;

	margin-left: 0px;
	padding-left: 0px;

	position: fixed;
}

.img_thumb
{
	max-width: 200px;
	max-height: 200px;

	position: absolute; 
	
	top:0px;
	left:0px;
}

.img_emoji
{
	width: 45px;
	height: 45px;

	position: absolute; 
	top: 145px;	
	left:160px;
}

.div_title
{
	background-color: black;
	color: white;

	width: 220px;
	height: 200px;

	position: fixed;
	top: 116px;
}
